BOT_TOKEN=replace_me
ALERT_CHAT_ID=-1003867089540
ALERT_TOPIC_ID=17135
ALERT_THRESHOLD=500000

REQUEST_TIMEOUT=12
BINANCE_BASE_URL=https://fapi.binance.com
BINANCE_DIRECT_FALLBACK=1
PUBLIC_PROXY_FALLBACK=0

BINANCE_PROXY_URLS=http://proxy_user:proxy_password@host1:port1/,http://proxy_user:proxy_password@host2:port2/
